<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Ingrid">
        <title>Comprar ingresso</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="/../css/geral.css">
        <link rel="stylesheet" href="/../css/comprarIngresso.css">
        <script src="/../js/script.js" defer></script>
    </head>

    <body>
        <header>
            <nav class="menu">
                <a href="/cliente"><h2 class="titulo"><i>Moviefy Tickets</i></h2></a>
                <div class="nav-login">
                    <img src="/img/login.png" alt="Ícone de login">
                    <a href="/perfilUsuario">Bem vindo, <%= user.Nome %> <saan id="user"></span></a>
                </div>
            </nav>
            <nav class="sub-menu">
                <div class="titulos">
                    <a href="/filmesCartaz" id="selected">FILMES</a>
                    <a href="/cinemas">CINEMAS</a>
                </div>
                <div class="localidades">
                    <img src="/img/local.png" alt="Ícone de localização">
                    <select class="form-select">
                        <option selected>Curitiba</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </nav>
        </header>

        <main>
            <section id="detalhes">
                <section id="etapa1">
                    <div class="titulo-etapa">
                        <div class="num-etapa"><h5><b>1</b></h5></div>
                        <h6><b>Escolha seus assentos</b></h6>
                        
                        </div>
                    <div class="assentos">
                        <div class="assentosGrid">
                            <% let value = 0 %>
                            <% for (let i = 0; i < 4; i++) { %>
                                <% for (let i = 0; i < 5; i++) { %>
                                <button onclick="selecionar('<%=assentos[value].IDAssentos%>', '<%=assentos[value].Numero%>')" class="assentos" id="assento<%=assentos[value].IDAssentos%>"><%= assentos[value].Numero %></button>
                                <%value++;%>
                                <% } %>
                            <% } %>
                            </div>
                    </div>
                </section>
                <section id="etapa2">
                    <div class="titulo-etapa">
                        <div class="num-etapa"><h5><b>2</b></h5></div>
                        <h6><b>Selecione o tipo de ingresso</b></h6>
                    </div>
                    <div class="ingresso">
                        <div class="pagamento">
                            <% for (let i = 0; i < tiposIngresso.length; i++) { %>
                                <div class="form-check">
                                    <input onclick="selecionarTipo(<%= tiposIngresso[i].Porcentagem%>, <%= sessoes.Preco%>)" value="<%= tiposIngresso[i].IDTipoIngresso%>" class="form-check-input" type="radio" name="flexRadioIngresso" id="flexRadioIngresso">
                                    <label class="form-check-label" for="flexRadioIngresso"><%= tiposIngresso[i].Tipo %></label>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </section>
                <section id="etapa3">
                    <div class="titulo-etapa">
                        <div class="num-etapa"><h5><b>3</b></h5></div>
                        <h6><b>Escolha a forma de pagamento</b></h6>
                    </div>
                    <div class="pagamento">
                        <% for (let i = 0; i < pagamentos.length; i++) { %>
                            <div class="form-check">
                                <input value="<%= pagamentos[i].IDPagamento%>" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1"><%= pagamentos[i].Tipo %></label>
                            </div>
                        <% } %>
                    </div>
                </section>
            </section>

            <section id="pedido">
                <h4>Resumo do pedido</h4>
                <img src="/img/<%= sessoes.Foto %>">
                <h5><b><%= sessoes.Titulo %></b></h5>
                <h5 style="margin-bottom: 50px;"><%= sessoes.Nome%></h5>
                <hr>
                <div class="section-pedido">
                    <p>SALA</p>
                    <p><%= sessoes.Numero%></p>
                </div>
                <hr>
                <div class="section-pedido">
                    <p>DATA</p>
                    <%  const data = new Date(sessoes.Data); data.setDate(data.getDate() + 1);%>
                    <p><%= data.toLocaleDateString('pt-BR').substring(0,5) %></p>
                </div>
                <hr>
                <div class="section-pedido">
                    <p>HORA</p>
                    <p><%= sessoes.Hora.toISOString().substring(11,16) %></p>
                </div>
                <hr>
                <div class="section-pedido">
                    <p>Assentos</p>
                    <p id="escolhaAssento"></p>
                </div>
                
               
                <div class="total-compra">
                    <hr>
                    <div class="section-pedido" style="margin-bottom: 50px;">
                        <p>Total</p>
                        <p id="tipoIngr"></p>
                    </div>
                    <button type="button" class="btn-pedido" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="">Pagamento</button>
                    <a href="/cliente" type="reset" class="btn-pedido" style="text-align: center; text-decoration: none; color: red;">Cancelar</a>
                </div>
            </section>
                
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Aguardando pagamento</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>Abra o aplicativo do seu banco e escaneie o QR Code abaixo.</p>
                      <img id="qrcode" src="/img/qrcode.jpeg" alt="QrCode">
                    </div>
                    <div class="modal-footer">
                      <a href="/pagamentoConcluido" type="a" class="btn btn-secondary" >Close</a>
                    </div>
                  </div>
                </div>
              </div>
        </main>

        <footer>
            <div class="inicio">
                <a href="/cliente"><h2 class="titulo"><i>Moviefy Tickets</i></h2></a>
                <div class="redes">
                    <img src="/img/instagram.png" alt="Ícone Instagram">
                    <img src="/img/x.png" alt="Ícone X">
                </div>
            </div>
            <hr>
            <div class="links-rodape">
                <div class="rodape-menu">
                    <p><b>MENU</b></p>
                    <a href="/filmesCartaz">Filmes</a>
                    <a href="/cinemas">Cinemas</a>
                </div>
                <div class="rodape-institucional">
                    <p><b>INSTITUCIONAL</b></p>
                    <a href="">Quem somos</a>
                </div>
                <div class="rodape-politicas">
                    <p><b>POLÍTICAS</b></p>
                    <a href="">Privacidade e segurança</a>
                    <a href="">Meia-entrada</a>
                    <a href="">Trocas e cancelamentos</a>
                </div>
                <div class="rodape-central">
                    <p><b>CENTRAL DE ATENDIMENTO</b></p>
                    <a href="">Telefone</a>
                    <a href="">Email</a>
                    <a href="">Fale conosco</a>
                </div>
            </div>
            <p class="copyright">Copyright © 2024 Moviefy Tickets. Todos os direitos reservados.</p>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    </body>
</html>